body {
	background: url(themes/restaurant_icons.png);
}

.show-grid {
	margin-bottom: 15px;
}

#summary, .alert-danger {
	display: none;
}

#mainModal {
	display: block;
}

#mainModal .modal-dialog {
	width: 620px;
}

#desiredCalories, #desiredProtein, #numberOfMeals {
	margin: 0 5px;
}

#desiredCalories, #desiredProtein {
	width: 45px;
	padding: 4px 6px;
}

#mainModal form input[type=number]::-webkit-inner-spin-button,
#mainModal form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#mainModal form button {
	float: right;
}

#mainModal .modal-footer {
	text-align: left;
}
